body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(45deg,cyan,black);
}
.login{
    background-color: rgba(0, 0, 0, 1);
    width: 500px;
    height: 640px;
    padding: 100px;
    color: white;
    font-size: 30px;
    margin-left: -10px;
    margin-top: -10px;
}
input{
    padding: 12px;
    border-radius: 15px;
    outline: none;
    width: 385px;
}
button{
    border: none;
    padding: 15px;
    background-color: dodgerblue;
    border-radius: 15px;
    width: 200px;
    font-size: 15px;
    color: white;
}
button:hover{
    background-color: aqua;
    cursor: pointer;
}

.imagemLogin{
    margin-left:45%;
    margin-top: -937px;
    padding: 50px;
    font-size: 60px;
}
