body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(30, 3, 93);
}
.login{
    position: absolute;
    background-color: rgba(0, 0, 0, 1);
    width: 30%;
    height: 70vh;
    padding: 50px;
    color: white;
    font-size: 150%;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
img{
    position: absolute;
    top: 65%;
    left: 35%;
    width: 25%;
}
h1{
    position: absolute;
    top: 15%;
    left: 9%;
    font-size: 200%;
}
input{
    padding: 2%;
    border-radius: 15px;
    outline: none;
    width: 75%;
    height: 2vh;
}
button{
    border: none;
    padding: 3%;
    background-color: dodgerblue;
    border-radius: 15px;
    width: 35%;
    color: white;
    height: 6vh;
}
#signupButton{
    position: absolute;
    top:50%;
    left: 10%;
    font-size: 70%;
}
#loginButton{
    position: absolute;
    top:50%;
    left: 50%;
    font-size: 70%;
}
#emailInput{
    position: absolute;
    top: 30%;
    left: 8%;
}
#passwordInput{
    position: absolute;
    top: 40%;
    left: 8%;
}
button:hover{
    background-color: aqua;
    cursor: pointer;
}

